.typed-text {
  white-space: pre-wrap; /* preserves spaces and line breaks */
  font-family: inherit;
  font-family: 'narrow_rectangle-7', sans-serif;
  font-size: 0.85rem;

  color: rgb(255, 255, 255);
  
  


}
