/* styles/ButtonPanel.css */
.button-panel {
  position: fixed;
  top: 35%;
  left: 5%;
  width: 25%;
  height: 30%;
  
  justify-content: center; 
  
  background: rgba(255, 255, 255, 0.8); /* fully opaque white */
  border: 1px solid rgb(255, 255, 255, 0.5); /* thin white border */
  backdrop-filter: blur(10px);           
  display: flex;
  flex-direction: column;
  
  box-sizing: border-box; /* ensures border doesn't add to width */
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  

  transform: scaleY(0);          /* collapsed state */
  transform-origin: center;      /* expand from center */
  animation: start 1s cubic-bezier(0.0, 0.5, 0.75, 1) forwards;

  
}

@keyframes start {
  0%   { transform: scaleY(0); }      /* start */
  5%   { transform: scaleY(0.02); background: rgba(255, 255, 255, 1);}   /* very little growth in first 5% (slow) */
  20%  { transform: scaleY(0.6); }    /* jumps to 60% height fast */
  80%  { transform: scaleY(0.95); background: rgba(255, 255, 255, 0.05);}   /* slows down, small progress */
  100% { transform: scaleY(1); background: rgba(255, 255, 255, 0.05);}      /* final */
}