/* styles/ButtonPanel.css */
.button-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05); /* fully opaque white */
  border: 1px solid rgb(255, 255, 255, 0.5); /* thin white border */
  backdrop-filter: blur(10px);           
  display: flex;
  flex-direction: column;
  z-index: 10; /* on top of canvas */
  box-sizing: border-box; /* ensures border doesn't add to width */
}
